/* ヘッダー */
header {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background-color: #669966;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.right-bar {
  display: flex;
  align-items: center;
}

.right-bar img {
  width: 40px;
  margin-right: 15px;
}

.right-bar .title {
  font-size: 18px;
}

.nav .menu-group {
  display: flex;
}

.menu-item {
  margin: 0 20px;
  color: #fff;

}

/* トップページ */
.wrapper {
  height: calc(100% - 120px);
  background-image: url('depositphotos_1982682-stock-photo-reading-in-front-of-cheminey.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* ボディ */
body {
  height: 940px;
}

.container {
  height: calc(100% - 120px);
  overflow: scroll;
}

.row {
  margin: 10px 0;
  /* text-align: center; */
}

.search-btn {
  width: 150px;
  border-radius: 10px;
  border: solid 1px;
  margin: 35px auto;
  color: #FFF;
  background: #669966;
  padding: 10px;
  font-size: 16px;
}

.contents .content {
  font-size: 30px;
  font-style: oblique;
  font-family: Times New Roman, "ＭＳ Ｐゴシック";
}


.book-image {
  width: 50%;
  height: 70%;
}

p {
  margin-top: 5px;
  font-size: 15px;
  line-height: 20px;
}

.release-btn {
  margin-bottom: 20px;
  border-radius: 10px;
  border: solid 1px #fff;
  line-height: normal;
  font-size: small;
}

/* 検索ページ */
.row .form-inline {
  margin: 35px auto;
}

.col-lg-3 {
  margin-bottom: 20px;
  height: 100%;
}

.btn {
  width: 100px;
  border-radius: 10px;
  border: solid 1px;
  color: #FFF;
  background: #669966;
  padding: 5px;
  margin-left: 15px;
  font-size: 16px;
}

.save-btn {
  font-size: small;
}

/* 個別書籍ページ */
.row-menu {
  text-align: right;
}

.menu-bar {
  margin: 30px 30px 30px 0;
}

.edit-btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: solid .5px;
  background: #669966;
  padding: 5px;
  font-size: 16px;
}

.review-btn {
  width: 130px;
  height: 30px;
  border-radius: 10px;
  border: solid .5px;
  background: #669966;
  padding: 5px;
  font-size: 16px;
}


.individual-book-image {
  width: 60%;
}

.col-xs-12 {
  margin-bottom: 30px;
}

.col-lg-6 .content {
  background-color: antiquewhite;
  height: 150px;
  padding: 15px;
  margin-bottom: 50px;
}

/* 新規レビュー画面 */
.form-wrapper {
  text-align: center;
  width: 100%;
}

.label {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;

}

.form {
  width: 80%;
  height: 120px;
  
}


/* フッター */
footer {
  background-color: #669966;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: #fff;
  font-size: 18px;
}

/* ログイン画面 */
.form-wrap {
  position: relative;
  height: calc(100% - 120px);
} 

.form-group {
  border: solid 1px ;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom :0;
  margin:  auto;
  width: 350px;
  height: 400px;
  text-align: center;
}

.form-header-name {
  font-size: 26px;
  font-weight: bold;
  margin: 30px 0;
}

.field {
  margin: 15px 0;
}

.field .label {
  margin-bottom: 15px;
}

.user-btn {
  margin-top: 10px;
  padding: 5px;
}

/* 新規登録画面 */
.form-group-signup {
    border: solid 1px ;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom :0;
    margin:  auto;
    width: 350px;
    height: 500px;
    text-align: center;
}