header {
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background-color: olive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.right-bar {
  display: flex;
  align-items: center;
}

.right-bar img {
  width: 40px;
  margin-right: 15px;
}

.right-bar .title {
  font-size: 18px;
}

.nav .menu-group {
  display: flex;
}

.menu-item {
  margin: 0 10px;
}

.link-btn {
  color: #fff;
}